ion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  
  .google-btn {
    margin-top: 30px;
    --background: white;
    --color: #444;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: none;
  }
  
  .google-btn ion-icon {
    font-size: 20px;
    margin-right: 8px;
  }
  